.user-profile-header {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: url("../images/classy-fabric.png");
  background-color: #400;
}

.user-profile-header-container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}

.user-content {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-left: -1em;
  margin-bottom: 1em;
  
}

.user-content-logo {
  display: flex;
  width: 60%;
  height: 60%;
  min-width: 139px;
  min-height: 139px;
  margin-bottom: -2em;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  user-select: none;
}

.user-content-logo img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.user-content-name {
  margin-top: 0.5em;
}

.user-content-name p {
  font-size: 1.2em;
}

.user-content-handle {
  margin-top: -1.1em;
  margin-left: -0.6em;
  font-size: 1em;
  opacity: 50%;

}

@media only screen and (min-width: 1024px) {
  .user-profile-header {
    float: left;
    height: 400px;
    width: 400px;
    min-width: 300px;
    margin: auto;
    margin-top: 7em;
    margin-left: 3em;
    margin-right: 2em;
    transition: 0.2s;
  }

  .user-profile-header-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    
  }
  .user-content {
    margin-left: auto;
    margin-bottom: auto;
    transition: 0.2s;
  }
}