@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

#arrows {
  animation: bobbing 1.5s infinite;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 98%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#tweet-text {
  resize: none;
  outline: none;
  align-content: center;
  color: white;
  font-size: x-large;
  background-color: transparent;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid white;
  overflow: hidden;
  transition: height 0.3s;
  min-height: 3em;
}

.post-info {
  display: flex;
  font-family: 'Bungee', cursive, sans-serif;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 0.5em;
  align-items: center;
}

.counter {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-right: 0.7em;
  opacity: 10%;
  caret-color: transparent;
  user-select: none;
}

.warning-counter {
  color: #9f1;
  opacity: 40%;
}


.excess-counter {
  color: #6ff;
  opacity: 80%;
}

.button {
  color: white;
  border: none;
  background-color: #C00;
  opacity: 75%;
  height: 1.6em;
  width: 4em;
  border-radius: 5%;
  caret-color: transparent;
  user-select: none;
}

.button span {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 100%;
  transition: 0.3s;
}

.button:hover span{
  font-size: 0.9em;
  transition: 0.3s;
}

.error-message {
  margin-top: 0.5em;
  justify-content: center;
  align-items: center;
  border: 2px solid red ;
  border-radius: 15px;
  opacity: 70%;
  color: red;
  height: 1.8em;
  /* font-size: ; */
  display:none;

}

.visible-error {
  display: flex;
}

.invisible-error {
  display:none;
}